<% if @lesson.word_answers.at(f.index).correct %>
  <% if @lesson.word_answers.at(f.index).id == word_answer.id %>
    <li class="text-success">
      <%= f.radio_button :word_answer_id, word_answer.id, disabled: true %>
      <%= word_answer.content %>
    </li>
  <% else %>
    <li>
      <%= f.radio_button :word_answer_id, word_answer.id, disabled: true %>
      <%= word_answer.content %>
    </li>
  <% end %>
<% else %>
  <% if @lesson.word_answers.at(f.index).id == word_answer.id %>
    <li class="text-danger">
      <%= f.radio_button :word_answer_id, word_answer.id, disabled: true %>
      <%= word_answer.content %>
    </li>
  <% else %>
    <li>
      <%= f.radio_button :word_answer_id, word_answer.id, disabled: true %>
      <%= word_answer.content %>
    </li>
  <% end %>
<% end %>
