<%= provide :title, t("views/categories/title") %>
<% @categories.each do |category| %>
  <div class="col-md-6 category">
    <ul class="no-decoration">
      <li>
        <h3>
          <strong><%= category.name %></strong>
          <%= link_to t("admin.edit"), edit_admin_category_path(category)%>
          <%= link_to t("admin.delete"), admin_category_path(category),
            method: :delete, data: {confirm: t("admin.category_delete")} %>
        </h3>
      </li>
      <li>
        <div class="col-md-12 textbox text-justify">
          <%= category.description %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
