<% provide :title, t("admin.category.new") %>

<div class = "col-md-12">
  <div class="col-md-6 panel panel-default col-md-offset-3">
    <h1><%= t "admin.category.new" %></h1>
    <%= form_for [:admin, @category] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t("admin.category.name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description, t("admin.category.description") %>
      <%= f.text_area :description, class: "form-control" %>

      <h1>
        <%= f.submit t("admin.category.create"),
        class: "btn btn-primary col-md-3" %>
      </h1>
    <% end %>
  </div>
</div>
